<head>
  <title>Hello jQuery/RoR world!</title>
  <script type='text/javascript' src='jquery.min.js'></script>
  <script type='text/javascript' src='welcome.js'></script>
  <link href='hello.css' rel='stylesheet' type='text/css'>
</head>
<body>

        <h1>Jack is a silly boy</h1>
	<div id="main">
		<div><%= image_tag "jackanddad.png" %></div>
	</div>
</body>
